/* Styling only */
body {
  margin: 0;
}

.wrapper {
  display: grid;
  background-color: #333333;
  color: #444;
  padding: 20px;
  height: 90vh;
  grid-template-columns: repeat(3 , 1fr) ;
  grid-gap: 20px;
}

.item {
  background-color: #3092d7;
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 3em;
}

.a{
  grid-column: span 3;
}

.b {
  grid-column: span 1 ;
  grid-row: 2 / 4;
}

.e {
  grid-column: span 2;
}

.f {
  grid-column: span 3;
}
/* Layouting only  (your work)*/

 
 